/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none; /* Remove underlines from links */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------- end reset ------------------- */

@font-face {
    font-family: 'Major_Mono_Display';
    src: url('fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf') format('truetype');
    /* Include additional font formats if available */
    font-style: normal;
  }

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
    /* Include additional font formats if available */
    font-style: normal;
    font-weight: normal;
  }

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');
  /* Include additional font formats if available */
  font-style: normal;
  font-weight: bold;
}

/* Style for the banner container */
.banner-container {
    background-color: #ffffff; /* Background color of the banner */
    position: fixed;
    top: 0;
    text-decoration: none; /* Remove underlines from links */
    padding: 0;
    z-index: 100;
}

/* Style for the background text */
.banner-text {
  color: #333238; /* Text color */
  font-family: 'Major_Mono_Display';
  font-size: 2.5rem;
  word-spacing: -1rem;
  transform-origin: left bottom;
  position: relative; /* Position absolutely within the banner */
  padding: 0;
  top: 0; /* Place it at the top of the banner */
  left: 0; /* Place it at the left of the banner */
  width: 100%; /* Expand the text width to match the banner width */
  height: 100%; /* Expand the text height to match the banner height */
  display: flex; /* Use flexbox for vertical and horizontal centering */
  justify-content: center; /* Center horizontally */
  user-select: none;
  pointer-events: none; /* Disable pointer events on this element */
}

.backgroundimage {
    background-image: url('assets/white-waves.webp');
    background-repeat: repeat;
    background-size: 200%; /*USE 50% for desktop*/
    width: 100%; /* Ensure the background image covers the entire container */
    height: 100%; /* Ensure the background image covers the entire container */
    position: absolute;
    top: 0;
    left: 0;
}

/* Style for the navigation bar */
.navbar {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color:#f1f1f1; /* Background color of the navbar */
  padding: 0.75rem 0; /* Add padding to create space around the links */
  user-select: none;
}

/* Style for the navigation links */
nav ol {
    list-style: none; /* Remove the default list styles */
    display: flex; /* Use flexbox to align list items horizontally */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

nav li {
    margin-left: 0.5rem; /* Add spacing between list items */
    margin-right: 0.5rem; /* Add spacing between list items */
}

/* Style for the navigation links */
nav a {
    display: inline-block;
    text-decoration: none; /* Remove underlines from links */
    background-color: #f1f1f1 ; /* Background color for all links */
    color: #333238; /* Link text color */
    font-family: 'OpenSans';
    font-weight: bold;
    font-size: 1rem; /* Adjust the font size as needed */
    padding: 0.3rem .3rem; /* Add padding to create the clickable area */
    border-radius: 10px; /* Add rounded corners for a box effect */
    border: 2px solid #333238; /* Add a 2px solid outline using #333238 */
    user-select: none;
}

/* Bubble Float Top Animation */
.hvr-bubble-float-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
@media (min-width:768px) {
  .hvr-bubble-float-top:hover {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    background-color: #333238; /* Change the background color on hover to #49876d*/
    color: #ffffff; /* Link text color */
    border: 2px solid #333238; /* Add a 2px solid outline using #333238 */
  }
}

.hvr-bubble-float-top:hover:before {
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
  background-color: #333238; /* Change the background color on hover to #49876d*/
  color: #ffffff; /* Link text color */
  border: 2px solid #333238; /* Add a 2px solid outline using #333238 */
}

.hvr-bubble-float-top.active {
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
  background-color: #497762; /* Change the background color on hover to #49876d*/
  color: #ffffff; /* Link text color */
  border: 2px solid #497762; /* Add a 2px solid outline using #333238 */
}

.hvr-bubble-float-top.active:before {
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
  background-color: #497762; /* Change the background color on hover to #49876d*/
  color: #ffffff; /* Link text color */
  border: 2px solid #497762; /* Add a 2px solid outline using #333238 */
}

/* Style for the main container */
.main-container {
    margin-top: 7rem;
    padding: 1rem; /* Add padding to give content some breathing room */
    background-color: #ffffff; /* Add a background color if needed */
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  Add a subtle shadow for depth */
}

/* Style for the front page text */
.content-container {
  display: none; /* This is not necessary, as block is the default display value for div elements */
  padding: 1rem; /* Increase padding for better spacing */
  margin: 1rem; /* Increase margin for better spacing and separation from other elements */
  background-color: #f1f1f1; /* Add a background color for visual separation */
  border-radius: 10px; /* Add rounded corners for a modern look */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}

.heading {
    font-family: 'OpenSans';
    font-size: 1.25rem; /* Adjust the font size as needed */
    transform: scale(1.0, 1.10);
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Add margin to create spacing between elements */
    user-select: none;
}

.paragraph {
  font-family: 'OpenSans';
  font-size: 1rem; /* Adjust the font size as needed */
  transform: scale(1.0, 1.10);
  display: flex;
  justify-content: left;
  margin-top: 2.5rem; /* Add margin to create spacing between elements */
  user-select: none;
}
